<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "NEAR Greeter", root_path, class: "navbar-brand me-auto", id: "logo" %>

    <button
      class="navbar-toggler bg-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div data-controller="login">
            <a href="#" data-action="login#switch" 
                data-login-target="slide" 
                class="nav-link">
                Loading...
            </a>
          </div>
        </li>
          
        <li class="nav-item">
          <div data-controller="login">
            <a href="#" data-login-target="name" 
                class="nav-link">
            </a>
          </div>
        </li>

        <%# Search bar is deprecated. %>
      </ul>

    </div>
    
    
  </div>
</nav>